<footer class="site-footer">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>©2019, The Caribbean Digital</li>
          <li><a href="mailto:thecaribbeandigital@gmail.com">thecaribbeandigital@gmail.com</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <span>Banner image from <em>"<a href="{{site.baseurl}}/images/banner.png">A Conversation</a>."</em> Digital Drawing by <a href="https://www.versiaharris.com/">Versia Harris</a>, 2019.</span>
      </div>
    </div>

</footer>

<div class="fixed-footer" style="color: white">
  <img src="{{site.baseurl}}/images/logos/barnard-logos.png">
  <img src="{{site.baseurl}}/images/logos/caribian.png">
  <img src="{{site.baseurl}}/images/logos/cu-aaad.png">
</div>
